
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from uxtheme.net/demos/jobcamp/dashboard-posted-applicants.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Feb 2021 15:47:41 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Job Board & Directory Template</title>
    <link rel="shortcut icon" href="image/favicon.png" type="image/x-icon">
    <!-- Bootstrap , fonts & icons  -->
    <link rel="stylesheet" href={{ asset ("css/bootstrap.css") }}>
    <link rel="stylesheet" href={{ asset ("fonts/icon-font/css/style.css") }}>
    <link rel="stylesheet" href={{ asset ("fonts/typography-font/typo.css") }}>
    <link rel="stylesheet" href={{ asset("fonts/fontawesome-5/css/all.css") }}>
    <!-- Plugin'stylesheets  -->
    <link rel="stylesheet" href={{ asset("plugins/aos/aos.min.css") }}>
    <link rel="stylesheet" href={{ asset("plugins/fancybox/jquery.fancybox.min.css") }}>
    <link rel="stylesheet" href={{ asset("plugins/nice-select/nice-select.min.css") }}>
    <link rel="stylesheet" href={{ asset("plugins/slick/slick.min.css") }}>
    <link rel="stylesheet" href={{ asset("plugins/ui-range-slider/jquery-ui.css") }}>
    <!-- Vendor stylesheets  -->
    <link rel="stylesheet" href={{ asset("css/main.css") }}>
    <!-- Custom stylesheet -->
</head>

<body>
<div class="site-wrapper overflow-hidden bg-default-2 min-h-100vh">
    <!-- Header Area -->

    <header class="site-header site-header--menu-right bg-default position-fixed py-7 py-xs-0 site-header--absolute">
        <div class="container-fluid-fluid px-10">
            <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0 py-0">
                <!-- Brand Logo-->
                <div class="brand-logo">
                    <a href="index.html">
                        <!-- light version logo (logo must be black)-->
                        <img style="width: 70px;height: 70px;" src="{{ asset('image/logo.png') }}" alt="" class="light-version-logo default-logo">
                        <!-- Dark version logo (logo must be White)-->
                        <img src="image/logo-main-white.png" alt="" class="dark-version-logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="mobile-menu">
                    <div class="navbar-nav-wrapper">
                        <ul class="navbar-nav main-menu">
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home <i class="icon icon-small-down"></i></a>
                                <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="drop-menu-item">
                                        <a href="home-1.html">
                                            Homepage 01
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown2" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages <i class="icon icon-small-down"></i></a>
                                <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <li class="drop-menu-item dropdown">
                                        <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown242" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Job Pages
                                            <i class="icon icon-small-down"></i>
                                        </a>
                                        <ul class="gr-menu-dropdown dropdown-menu dropdown-left" aria-labelledby="navbarDropdown242">
                                            <li class="drop-menu-item">
                                                <a href="search-grid.html">
                                                    Job Grid
                                                </a>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </div>
                    <button class="d-block d-lg-none offcanvas-btn-close focus-reset" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
                        <i class="gr-cross-icon"></i>
                    </button>
                </div>
                <div class="header-btn-devider ml-auto ml-lg-5 pl-2 d-none d-xs-flex align-items-center">
                    <div>
                        <a href="#" class="px-3 ml-7 font-size-7 notification-block flex-y-center position-relative">
                            <i class="fas fa-bell heading-default-color"></i>
                            <span class="font-size-3 count font-weight-semibold text-white bg-primary circle-24 border border-width-3 border border-white">3</span>
                        </a>
                    </div>
                    <div>
                        <div class="dropdown show-gr-dropdown py-5">
                            <a class="proile media ml-7 flex-y-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="circle-40">
                                    <img src="image/header-profile.png" alt="">
                                </div>
                                <i class="fas fa-chevron-down heading-default-color ml-6"></i>
                            </a>
                            <div class="dropdown-menu gr-menu-dropdown dropdown-right border-0 border-width-2 py-2 w-auto bg-default" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="dashboard-settings.html">Settings </a>
                                <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="candidate-profile-main.html">Edit Profile</a>
                                <a class="dropdown-item py-2 text-red font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="#">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu Hamburger-->
                <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- <i class="icon icon-simple-remove icon-close"></i> -->
                    <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </span>
                </button>
                <!--/.Mobile Menu Hamburger Ends-->
            </nav>
        </div>
    </header>
    <!-- navbar- -->
    <!-- Login Modal -->


    <div class="dashboard-sidebar-wrapper pt-11" id="sidebar">
        <div class="brand-logo px-11">
            <a href="https://shade.uxtheme.net/shade-pro">
                <img src="image/logo-main-black.png" alt="">
            </a>
        </div>
        <div class="my-15 px-11">
            <a href="#" class="btn btn-primary btn-xl w-100 text-uppercase"><span class="mr-5 d-inline-block">+</span>Post a new job</a>
        </div>
        <ul class="list-unstyled dashboard-layout-sidebar">
            <li class=""><a href="dashboard-main.html" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="icon icon-layout-11 mr-7"></i>Dashboard</a></li>
            <li class=""><a href="dashboard-posted-jobs.html" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="fas fa-briefcase mr-7"></i>Posted Jobs</a></li>
            <li class="active"><a href="dashboard-posted-applicants.html" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="fas fa-user mr-7"></i>Applicants <span class="ml-auto px-1 h-1 bg-dodger text-white font-size-3 rounded-5 max-height-px-18 flex-all-center">14</span></a></li>
            <li class=""><a href="dashboard-settings.html" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="fas fa-cog mr-7"></i>Settings</a></li>
        </ul>
    </div>
    <a class="sidebar-mobile-button" data-toggle="collapse" href="#sidebar" role="button" aria-expanded="false" aria-controls="sidebar">
        <i class="icon icon-sidebar-2"></i>
    </a>
    <div class="dashboard-main-container mt-25 mt-lg-31" id="dashboard-body">
        <div class="container">
            <div class="mb-14">
                <div class="row mb-11 align-items-center">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <h3 class="font-size-6 mb-0">Liste des concours disponibles</h3>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex flex-wrap align-items-center justify-content-lg-end">
                            <p class="font-size-4 mb-0 mr-6 py-2">Filter by Job:</p>
                            <div class="h-px-48">
                                <select name="country" id="country" class="nice-select pl-7 h-100 arrow-3 arrow-3-black min-width-px-273 font-weight-semibold text-black-2">
                                    <option value="" data-display="Product Designer">Product Designer</option>
                                    <option value="">Graphics Designer</option>
                                    <option value="">Web Deverloper</option>
                                    <option value="">Front End Developer</option>
                                    <option value="">Backend Developer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white shadow-8 pt-7 rounded pb-8 px-11">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="pl-0  border-0 font-size-4 font-weight-normal">Nom Concours</th>
                                <th scope="col" class="border-0 font-size-4 font-weight-normal">Sujet</th>
                                <th scope="col" class="border-0 font-size-4 font-weight-normal">Date lancement</th>
                                <th scope="col" class="border-0 font-size-4 font-weight-normal">Date fin</th>
                                <th scope="col" class="border-0 font-size-4 font-weight-normal"></th>
                                <th scope="col" class="border-0 font-size-4 font-weight-normal"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="border border-color-2" {% for c in concours %}>
                                <th scope="row" class="pl-6 border-0 py-7 pr-0">
                                    <h4 class="font-size-4 mb-0 font-weight-semibold text-black-2">{{ c.nom }}</h4>
                                </th>
                                <td class="table-y-middle py-7 min-width-px-400 pr-0">
                                    <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{ c.sujet }}</h3>
                                </td>
                                <td class="table-y-middle py-7 min-width-px-170 pr-0">
                                    <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{ c.dateDebut|date('d-m-Y H:i') }}</h3>
                                </td>
                                <td class="table-y-middle py-7 min-width-px-170 pr-0">
                                    <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{ c.dateFin|date('d-m-Y H:i') }}</h3>
                                </td>
                                <td class="table-y-middle py-7 min-width-px-170 pr-0">
                                    <div class=""><a href="descriptionConcours" class="font-size-3 font-weight-bold text-green text-uppercase">Voir description</a></div>
                                </td>
                                <td class="table-y-middle py-7 min-width-px-110 pr-0">
                                    <div class=""><a href="contact.html" class="font-size-3 font-weight-bold text-green text-uppercase">Participer</a></div>
                                </td>

                            </tr {% endfor %}>

                            </tbody>
                        </table>
                    </div>
                    <div class="pt-2">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-hover-primary rounded-0 ml-n2">
                                <li class="page-item rounded-0 flex-all-center">
                                    <a class="page-link rounded-0 border-0 px-3active" href="#" aria-label="Previous">
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">1</a></li>
                                <li class="page-item"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">2</a></li>
                                <li class="page-item"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">3</a></li>
                                <li class="page-item disabled"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">...</a></li>
                                <li class="page-item "><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">7</a></li>
                                <li class="page-item rounded-0 flex-all-center">
                                    <a class="page-link rounded-0 border-0 px-3" href="#" aria-label="Next">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
</div>
<!-- Vendor Scripts -->
<script src={{ asset("js/vendor.min.js") }}></script>
<!-- Plugin's Scripts -->
<script src={{ asset("plugins/fancybox/jquery.fancybox.min.js") }}></script>
<script src={{ asset("plugins/nice-select/jquery.nice-select.min.js") }}></script>
<script src={{ asset("plugins/aos/aos.min.js") }}></script>
<script src={{ asset("plugins/slick/slick.min.js") }}></script>
<script src={{ asset("plugins/counter-up/jquery.counterup.min.js") }}></script>
<script src={{ asset("plugins/counter-up/jquery.waypoints.min.js") }}></script>
<script src={{ asset("plugins/ui-range-slider/jquery-ui.js") }}></script>
<!-- Activation Script -->
<!-- <script src="js/drag-n-drop.js"></script> -->
<script src={{ asset("js/custom.js") }}></script>
</body>


<!-- Mirrored from uxtheme.net/demos/jobcamp/dashboard-posted-applicants.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Feb 2021 15:47:41 GMT -->
</html>