{% extends "baseFront.html.twig" %}

{% block section %}
    <!-- Modal -->
    <div class="modal fade" id="ReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label> Pourquoi vous voulez signaler cette publication?</label>
                        <center>
                            <div style="width: 77%;">
                                <button style="margin-bottom: 7px;" type="button" onclick="Report('Nudité ou activité sexuelle');" class="btn btn-light">Nudité ou activité sexuelle</button><br>
                                <button style="margin-bottom: 7px;" type="button" onclick="Report('Discours ou symboles de haine');" class="btn btn-light">Discours ou symboles de haine</button>
                                <button style="margin-bottom: 7px;" type="button" onclick="Report('Violence ou organisations dangereuses');" class="btn btn-light">Violence ou organisations dangereuses</button>
                                <button style="margin-bottom: 7px;" type="button" onclick="Report('Vente de marchandises illégales ou réglementées');" class="btn btn-light">Vente de marchandises illégales ou réglementées</button>
                                <button style="margin-bottom: 7px;" type="button" onclick="Report('Intimidation ou harcèlement');" class="btn btn-light">Intimidation ou harcèlement</button>
                                <button style="margin-bottom: 7px;" type="button" onclick="Report('Violation de la propriété intellectuelle');" class="btn btn-light">Violation de la propriété intellectuelle</button>
                                <button style="margin-bottom: 7px;" type="button" onclick="Report('Suicide ou automutilation');" class="btn btn-light">Suicide ou automutilation</button>
                            </div>
                        </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


    <div style="padding: 28px;" class="container">
        <div style="box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);border-radius: 14px;margin-bottom: 14px;" class="row">
            <div style="display: flex;flex-flow: row wrap;justify-content: center;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);" class="col-lg-8">
                {% set extension = publication.imageName|split('.') %}
                {% if extension[1]=="mp4" %}
                    <video id="vids{{ publication.id }}" class="vid" style="margin-bottom: 35px;margin-top: 35px;border-radius: 13px;max-width: 100%;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);object-fit: cover;height: 666px;" loop controls>
                        <source id="video{{ publication.id }}" src="{{ asset('images/publications/' ~ publication.imageName) }}" type="video/mp4">
                    </video>
                {% else %}
                    <img style="border-radius: 10px;height: 649px;margin-top: 35px;margin-bottom: 35px;" src="{{ asset('images/publications/' ~ publication.imageName) }}" alt="" class="img-fluid">
                {% endif %}
                 </div>
            <div class="col-lg-4">
                <div style="height:300px;" class="col">
                    <div style="margin-top: 20px;margin-bottom: 5px;" class="media border-0">
                        <div class="media-left pr-1">
                            <span class="avatar avatar-md avatar-online">
                                <img style="height: 50px;margin-right: 10px;width: 50px;object-fit: cover;" class="media-object rounded-circle" src="{{ asset('images/users/' ~ publication.idu.photo) }}" alt="Generic placeholder image">
                            </span>
                        </div>
                        <div class="media-body w-100 row">
                            <div class="col-lg-7">
                                <span class="list-group-item-heading">{{ publication.idu.Nom ~" " ~publication.idu.Prenom }} </span>
                                <p class="list-group-item-text mb-0">
                                    <span class="blue-grey lighten-2 font-small-3"> {{ publication.idu.Email }} </span>
                                </p>
                            </div>
                            <div class="col-lg-5">
                                <a style="color: #d7abe2" href="{{ path('update_Publication',{'idPublication':publication.id}) }}"><i class="fa fa-edit"></i></a>
                                <button onclick='
                                        var resultat = confirm("Voulez vous supprimer cette publication d`une facon definitive!");
                                            if (resultat == true) {
                                                location.href = "{{ path('delete_Publication',{'idPublication':publication.id}) }}";
                                            }' style="color: #98859d;background-color: transparent;border-color: transparent">
                                    <i class="fa fa-trash"></i>
                                </button>
                                {% if isReported==0 %}
                                    <button id="ReportBtn" style="color: #d7abe2;background-color: transparent;border-color: transparent" data-toggle="modal" data-target="#ReportModal" ><i class="fa fa-ban"></i></button>
                                {% endif %}

                            </div>

                        </div>

                    </div>
                    <div style="margin-bottom: 10px;" class="media border-0">
                        <h7>{{ publication.description }} </h7>
                    </div>
                    <div class="media border-0">
                        <h7 style="cursor: pointer;">Liked by</h7>
                        <h6 style="margin-top: 2px;margin-right: 3px;margin-left: 3px;">
                            <img style="height: 20px;width:20px;margin-right: 2px;object-fit: cover;" class="media-object rounded-circle" src="{{ asset('images/users/' ~ publication.idu.Photo) }}" alt="">
                            {{ publication.idU.Nom~" "~publication.idU.Prenom }}</h6>
                        <h7>And by</h7>
                        <h6 style="margin-top: 3px;margin-right: 3px;margin-left: 3px;">2</h6><h7>more</h7>
                    </div>

                    <div>
                                            <span class="info">
                                                <div id="reacts" class="reacts" style="display: none;">
                                                    <div class="circle">
                                                        <button onclick="react({{ user.id }},{{ publication.id }},1);" style="background: none;border: none;cursor: pointer;">
                                                            <img style="margin-left: -12px;width: 30px;height: 30px;" src="{{ asset('images/reacts/heart.png') }}" alt="">
                                                        </button>
                                                    </div>
                                                    <div class="circle">
                                                        <button onclick="react({{ user.id }},{{ publication.id }},2);" style="background: none;border: none;cursor: pointer;">
                                                            <img style="margin-left: -10px;width: 30px;height: 30px;" src="{{ asset('images/reacts/haha.png') }}" alt="">
                                                        </button>
                                                    </div>
                                                    <div class="circle">
                                                        <button onclick="react({{ user.id }},{{ publication.id }},3);" style="background: none;border: none;cursor: pointer;">
                                                            <img style="margin-left: -7px;width: 30px;height: 30px;" src="{{ asset('images/reacts/triste.png') }}" alt="">
                                                        </button>

                                                    </div>
                                                    <div style="margin-left: -11px;" class="circle">
                                                        <button onclick="react({{ user.id }},{{ publication.id }},4);" style="background: none;border: none;cursor: pointer;">
                                                            <img style="width: 30px;height: 30px;" src="{{ asset('images/reacts/grr.png') }}" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                                {% if isReact==0 %}
                                                    <button  id="likecontainer" style="background-color: #d7abe2;color: white;border-color: #d7abe2;border-radius: 30px" class="btn btn-light btn-min-width box-shadow-5 mr-1 mb-1 like">
                                                        Réagir
                                                    </button>
                                                    <a id="removeBtn" href="{{ path('RemoveReaction',{'idPublication':publication.id}) }}" style="display:none;background-color: #98859d;border-radius: 50%;font-size: 14px;width: 26px;height: 26px;position: relative;right: 22px;bottom: 13px;color: wheat;">
                                                        <i style="position: relative;left: 7px;top: 2px;" class="fa fa-trash"></i>
                                                    </a>
                                                {% elseif isReact==1  %}
                                                    <button  id="likecontainer" style="background-color: #d7abe2;color: white;border-color: #d7abe2;border-radius: 30px" class="btn btn-light btn-min-width box-shadow-5 mr-1 mb-1 like">
                                                        j'aime
                                                    </button>
                                                    <a href="{{ path('RemoveReaction',{'idPublication':publication.id}) }}" style="background-color: #98859d;border-radius: 50%;font-size: 14px;width: 26px;height: 26px;position: relative;right: 22px;bottom: 13px;color: wheat;">
                                                        <i style="position: relative;left: 7px;top: 2px;" class="fa fa-trash"></i>
                                                    </a>
                                                {% elseif isReact==2  %}
                                                    <button  id="likecontainer" style="background-color: #d7abe2;color: white;border-color: #d7abe2;border-radius: 30px" class="btn btn-light btn-min-width box-shadow-5 mr-1 mb-1 like">
                                                        j'applaudie
                                                    </button>
                                                    <a href="{{ path('RemoveReaction',{'idPublication':publication.id}) }}" style="background-color: #98859d;border-radius: 50%;font-size: 14px;width: 26px;height: 26px;position: relative;right: 22px;bottom: 13px;color: wheat;">
                                                        <i style="position: relative;left: 7px;top: 2px;" class="fa fa-trash"></i>
                                                    </a>
                                                {% elseif isReact==3  %}
                                                    <button  id="likecontainer" style="background-color: #d7abe2;color: white;border-color: #d7abe2;border-radius: 30px" class="btn btn-light btn-min-width box-shadow-5 mr-1 mb-1 like">
                                                        bonne idée
                                                    </button>
                                                    <a href="{{ path('RemoveReaction',{'idPublication':publication.id}) }}" style="background-color: #98859d;border-radius: 50%;font-size: 14px;width: 26px;height: 26px;position: relative;right: 22px;bottom: 13px;color: wheat;">
                                                        <i style="position: relative;left: 7px;top: 2px;" class="fa fa-trash"></i>
                                                    </a>
                                                {% elseif isReact==4  %}
                                                    <button  id="likecontainer" style="background-color: #d7abe2;color: white;border-color: #d7abe2;border-radius: 30px" class="btn btn-light btn-min-width box-shadow-5 mr-1 mb-1 like">
                                                        curieux
                                                    </button>
                                                    <a href="{{ path('RemoveReaction',{'idPublication':publication.id}) }}" style="background-color: #98859d;border-radius: 50%;font-size: 14px;width: 26px;height: 26px;position: relative;right: 22px;bottom: 13px;color: wheat;">
                                                        <i style="position: relative;left: 7px;top: 2px;" class="fa fa-trash"></i>
                                                    </a>
                                                {% endif %}

                                             </span>
                    </div>

                    <div style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: medium none; padding-left: 13px; padding-top: 10px; margin-left: -20px; height: 399px; width: 382px; box-shadow: rgba(0, 0, 0, 0.06) -8px 10px 20px 0px; margin-bottom: 10px; overflow-y: hidden; outline: currentcolor none medium;" class="popular-artists-area nice-scroll" tabindex="1">
                        <div class="section-heading text-left wow fadeInUp" data-wow-delay="50ms" style="margin-bottom: 7px ;visibility: visible; animation-delay: 50ms; animation-name: fadeInUp;">
                            <h2> les Commentaires</h2>
                        </div>
                        {% if publication.commentaires|length!=0 %}
                            {% for commentaire in publication.commentaires %}
                                <!--Single comment -->
                                <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms" style="margin-bottom: 10px;visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                                    <div style="max-width: 51px;margin-right: 7px;" class="thumbnail">
                                        <img style="border-radius: 4px;width: 50px;height: 50px;" src="{{ asset('images/users/' ~ commentaire.idUtilisateur.Photo) }}" alt="">
                                    </div>
                                    <div style="width: 322px;" class="row">
                                        <div class="col-lg-9">
                                            <div class="content-">
                                                <p style="position: relative;top: 11px;">{{ commentaire.idUtilisateur.Nom ~" "~commentaire.idUtilisateur.Prenom }}
                                                </p>
                                                <p style="line-height: 1.2;color: black;">{{ commentaire.contenuCommentaire }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div>
                                                <a style="position: relative;top: 13px;" href="{{ path('Deletecommentaire',{'idPublication':publication.id,'idCommentaire':commentaire.idCommentaire}) }}">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                                <a style="position: relative;top: 13px;" href="{{ path('UpdateCommentaire',{'idPublication':publication.id,'idCommentaire':commentaire.idCommentaire}) }}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}


                    </div>

                    <textarea style="position: relative;bottom: 5px;right: 20px;height: 75px;width: 69%;" name="contenu" class="form-control" id="contenuCommentaire" rows="2">

                    </textarea>
                    <button onclick="save()" type="button" class="btn" style="position: relative;top: -77px;left: 232px;width: 76px;height: 60px;background: none;border: none;box-shadow: inset rgba(0, 0, 0, 0.14) 0px 0px 5px 0px;">Post</button>




                </div>

            </div>
        </div>
    </div>
    {{ form(commentaireform, {'id': 'form_commentaire'}) }}
{% endblock %}



{% block scripts %}
    {# script reactions #}
    <script>
        $(function() {


            var reaction = $('.reacts'),
                like = $('.like'),
                comments = $('.fa fa-envelope-o'),
                maximize = $('.fa fa-ellipsis-h');

            //reaction.addClass('show');
            like.on('click',function() {
                if(reaction.hasClass('show')) {
                    reaction.css({
                        'display':'none',
                    });
                    comments.css({
                        'display':'flex',
                    });
                    maximize.css({
                        'display':'flex',
                    });
                    reaction.removeClass('show');
                }
                else {
                    reaction.css({
                        'display':'flex',
                    });
                    comments.css({
                        'display':'none',
                    });
                    maximize.css({
                        'display':'none',
                    });
                    reaction.addClass('show');
                }
            });
        });
    </script>
    {# script document ready #}
    <script>
        $(function() {
            document.getElementById("contenuCommentaire").value = "";
            document.getElementById("form_commentaire").style.display="none";
        });
        function save() {
            let contenuCommentaire=document.getElementById("contenuCommentaire").value;

            if (contenuCommentaire===""){
                alert("veuillez verifier les champs !")
            }else{
                document.getElementById("commentaire_contenuCommentaire").value=contenuCommentaire;
                document.getElementById("commentaire_Submit").click();
            }
        }

    </script>

    <script>
        function react(idu,idPost,typereact) {
            if (idu==0){
                //login first

            }else{
                $.ajax({
                    url: 'AddReaction/' + idPost + '/' + typereact,
                    success: function (data) {
                        var container="likecontainer";
                        document.getElementById(container).click();
                        $('#removeBtn').show('slow');
                        if (data === "added"){
                            document.getElementById(container).style.backgroundColor= "#faf9f7";
                            document.getElementById(container).style.borderColor= "#faf9f7";
                            document.getElementById(container).style.borderRadius= "30px";
                            if (typereact===1){
                                document.getElementById(container).innerHTML="<img style='margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;' src='{{ asset('images/reacts/heart.png') }}' alt=''/>";
                            }else if (typereact===2){
                                document.getElementById(container).innerHTML="<img style='margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;' src='{{ asset('images/reacts/haha.png') }}' alt=''/>";
                            }else if (typereact===3)  {
                                document.getElementById(container).innerHTML="<img style='margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;' src='{{ asset('images/reacts/triste.png') }}' alt=''/>";
                            }else if (typereact===4)  {
                                document.getElementById(container).innerHTML="<img style='margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;' src='{{ asset('images/reacts/grr.png') }}' alt=''/>";
                            }
                        }else if (data === "exists") {
                            //exists
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log("Ajax request failed. data");
                    }
                });
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        function Report(reason) {
            $.ajax({
                url: 'addSignal/' + {{ publication.id }} + '/' + reason,
                success: function (data) {
                    if (data === "added"){
                        $('#ReportModal').modal("hide");
                        $('#ReportBtn').remove();
                        Swal.fire(
                            'Good job!',
                            'Post Reported!',
                            'success'
                        );
                    }else if (data === "exists") {
                        console.log("reported")
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Ajax request failed. data :");
                }
            });
        }
    </script>


{% endblock %}