{% extends "baseFront.html.twig" %}



{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/stories.css') }}">
    <link rel="stylesheet" href="{{ asset('css/notifications.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0 py-0">
                    <!-- Brand Logo-->
                    <div class="brand-logo">
                        <a href="{{ path('home') }}">
                            <!-- light version logo (logo must be black)-->
                            <img style="width: 70px;height: 70px;" src="{{ asset('image/logo.png') }}" alt="" class="light-version-logo default-logo">
                            <!-- Dark version logo (logo must be White)-->
                            <img style="width: 70px;height: 70px;" src="{{ asset('image/logo.png') }}" alt="" class="dark-version-logo">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="mobile-menu">
                        <div class="navbar-nav-wrapper">
                            <ul class="navbar-nav main-menu">

                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('home') }}">Acceuil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('publications') }}">Offres</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('publications') }}">Publications</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('publications') }}">Concours</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('publications') }}">Forum</a>
                                </li>
                            </ul>
                        </div>
                        <button class="d-block d-lg-none offcanvas-btn-close focus-reset" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
                            <i class="gr-cross-icon"></i>
                        </button>
                    </div>
                    <div class="header-btns header-btn-devider ml-auto pr-2 ml-lg-6 d-none d-xs-flex">
                        <div style="margin-left: 10px;" class="panel panel-default">
                            <div class="panel-body">
                                <!-- Single button -->
                                <div class="btn-group pull-right top-head-dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bell"></i> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        {% for notification in notifications %}
                                        {% set type = notification.lien|split(':') %}

                                        <!--single notification-->
                                        <li>
                                            {% if type[0]=="publication" %}
                                            <a href="{{ path('publication',{'idPublication':type[1]}) }}" class="top-text-block">
                                                <div class="top-text-heading">{{ notification.description }}</div>
                                                <div class="top-text-light">{{ notification.dateCreation|date("m/d/Y") }}</div>
                                            </a>
                                            {% else %}
                                                <a href="#" class="top-text-block">
                                                    <div class="top-text-heading">{{ notification.description }}</div>
                                                    <div class="top-text-light">{{ notification.dateCreation|date("m/d/Y") }}</div>
                                                </a>
                                            {% endif %}
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset" href="javacript:" data-toggle="modal" data-target="#login">
                            connexion
                        </a>
                        <a class="btn btn-primary text-uppercase font-size-3" href="javacript:" data-toggle="modal" data-target="#signup">
                            S'inscrire
                        </a>

                    </div>
                    <!-- Mobile Menu Hamburger-->
                    <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <!-- <i class="icon icon-simple-remove icon-close"></i> -->
                        <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </span>
                    </button>
                    <!--/.Mobile Menu Ends-->
                </nav>
{% endblock %}

{% block section %}
    <div class="row" style="display:flex;">
        <div class="col-lg-9">
            <h2 style="margin-left: 25px;">Trending</h2>
            <h6 style="margin-left: 25px;margin-top: 8px">Regardez les dernieres publications de notre communauté</h6>
        </div>
        <div class="col-lg-3">
            <a style="margin-top: 23px;" href="{{ path('add_publication') }}" class="btn btn-primary">Ajouter une nouvelle publication</a>
        </div>
    </div>




    <div class="ld">
        <div style="text-align: end;" class="inside-wrapper">

            <a style="margin-right: 40px;color: grey" href="{{ path('stories') }}">Toutes les stories</a>
            <div class="stories">
                {% if stories==null %}
                <p>No available stories</p>
                {% else %}
                {% for s in stories %}
                    <div class="stories-item">
                        <a href="{{ path('story',{'idUtilisateur':s.idu.id}) }}">
                            <img src="{{ asset('images/users/' ~ s.idu.Photo) }}" alt="{{ asset('images/users/' ~ s.idu.Photo) }}">
                        </a>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
            <button class="nav-btn prev"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
                </svg></button>
            <button class="nav-btn next"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                </svg></button>
        </div>
    </div>






    <div style="padding: 10px;" class="contain">

        {% for publication in publications %}
            {% set extension = publication.imageName|split('.') %}

            <div id="box{{ publication.id }}" class="boxes">

                    {% if extension[1]=="mp4" %}

                        <video id="vids{{ publication.id }}"
                                   class="vid"
                                   style="border-radius: 13px;
                                      max-width: 100%;
                                      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
                                      object-fit: cover;" loop>
                                <source id="video{{ publication.id }}" src="{{ asset('images/publications/' ~ publication.imageName) }}" type="video/mp4">
                            </video>
                        <div style="background-image: url({{ asset('images/publications/play.png') }});
                                    background-repeat: no-repeat;
                                    width: 25%;
                                    height: 25%;
                                    position: absolute;
                                    left: 37%;
                                    right: 0%;
                                    top: 36%;
                                    bottom: 0%;
                                    background-size: contain;
                                    background-position: center;
                                    opacity: 0.9;
                                    cursor: pointer;" class="playpause">
                        </div>

                    {% else %}
                        <a href="{{ path('publication',{'idPublication':publication.id}) }}">
                            <img src="{{ asset('images/publications/' ~ publication.imageName) }}" alt="{{ asset('images/publications/' ~ publication.imageName) }}">
                        </a>
                    {% endif %}

                <div style="position: absolute;top: -3px;left: 17px;margin-top: 20px;margin-bottom: 20px;" class="media border-0">
                    <div class="media-left pr-1">
                        <span class="avatar avatar-md avatar-online">
                            <img data-toggle="tooltip" data-placement="right" title="{{ publication.idu.Nom ~" " ~publication.idu.Prenom }}" style="height: 50px;width: 50px;margin-right: 10px;object-fit: cover;" class="media-object rounded-circle" src="{{ asset('images/users/' ~ publication.idu.Photo) }}" alt="Generic placeholder image">
                        </span>
                    </div>
                </div>

                <div class="details">
                    <div class="row">
                        {% if extension[1]=="mp4" %}
                            <div class="col-lg-9">
                                <span style="padding: 10px;" class="info">
                                    {{ publication.description }}
                                </span>
                            </div>
                            <div class="col-lg-3">
                                <a style="color: #d7abe2;margin-top: 30px;" href="{{ path('publication',{'idPublication':publication.id}) }}"><i class="fa fa-external-link-alt"></i></a>
                            </div>
                        {% else %}
                            <span style="padding: 10px;" class="info">
                                {{ censor.censorString( publication.description )['clean'] |raw  }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock %}

{% block scripts %}

{# script video #}
<script>
    $('.vid').parent().click(function () {
        var element=$('.vid').parent();

        if($(this).children(".vid").get(0).paused){
            $(this).children(".vid").get(0).play();
            $(this).children(".playpause").fadeOut();
        }
        else{
            $(this).children(".vid").get(0).pause();
            $(this).children(".playpause").fadeIn();
        }
    });
</script>



    <div id="google_translate_element"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="{{ asset('js/stories.js') }}"></script>

{% endblock %}