{% extends "baseFront.html.twig" %}

{% block section %}
    <!-- Main Content Start -->
    <div class="bg-default-1 pt-26 pt-lg-28 pb-13 pb-lg-25">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 col-md-5 col-xs-8">
                    <!-- Sidebar Start -->
                    <div class="widgets mb-11">
                        <h4 class="font-size-6 font-weight-semibold mb-6">Catégorie</h4>
                        <ul class="list-unstyled filter-check-list">
                            <li class="mb-2"><a href="#" class="toggle-item">Java</a></li>
                            <li class="mb-2"><a href="#" class="toggle-item">PHP</a></li>
                            <li class="mb-2"><a href="#" class="toggle-item">CodeNameOne</a></li>
                            <li class="mb-2"><a href="#" class="toggle-item">Laravel</a></li>
                            <li class="mb-2"><a href="#" class="toggle-item">Angular</a></li>
                        </ul>
                    </div>
                    <div class="widgets mb-11 ">
                        <div class="d-flex align-items-center pr-15 pr-xs-0 pr-md-0 pr-xl-22">

                        </div>

                        <div class="range-slider">

                        </div>
                    </div>
                    <div class="widgets mb-11">

                    </div>
                    <div class="widgets mb-11">

                    </div>
                    <!-- Sidebar End -->
                </div>
                <!-- Main Body -->
                <div class="col-12 col-xl-8 col-lg-8">

                    <!-- form -->
                    <form action="https://uxtheme.net/" class="search-form">
                        <div class="filter-search-form-2 search-1-adjustment bg-white rounded-sm shadow-7 pr-6 py-6 pl-6">
                            <div class="filter-inputs">
                                <div class="form-group position-relative w-lg-45 w-xl-40 w-xxl-45">
                                    <input class="form-control focus-reset pl-13" type="text" id="keyword" placeholder="Topic">
                                    <span class="h-100 w-px-50 pos-abs-tl d-flex align-items-center justify-content-center font-size-6">
                    <i class="icon icon-zoom-2 text-primary font-weight-bold"></i>
                  </span>
                                </div>
                            </div>
                            <div class="button-block">
                                <button class="btn btn-primary line-height-reset h-100 btn-submit w-100 text-uppercase">Search</button>
                            </div>
                        </div>
                    </form>
                    <div class="pt-12">
                        <div class="d-flex align-items-center justify-content-between mb-6">
                            <h5 class="font-size-4 font-weight-normal text-gray">
                                <span class="heading-default-color"></span>
                                <span class="heading-default-color">Liste des Topic</span>
                            </h5>
                            <div class="button-block">
                                <div class=""><a href="{{ path('addTopic') }}" class="btn btn-primary line-height-reset h-100 btn-submit w-100 text-uppercase">Créer un Topic</a></div>
                            </div>

                            <div class="d-flex align-items-center result-view-type">
                                <a class="heading-default-color pl-5 font-size-6 hover-text-hitgray active" href="search-list-1.html">
                                    <i class="fa fa-list-ul"></i>
                                </a>
                                <a class="heading-default-color pl-5 font-size-6 hover-text-hitgray" href="search-grid.html">
                                    <i class="fa fa-th-large"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mb-8">
                            <!-- Single Featured Job -->
                            {% for topic in topics %}
                            <div class="pt-9 px-xl-9 px-lg-7 px-7 pb-7 light-mode-texts bg-white rounded hover-shadow-3 ">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="media align-items-center">
                                            <div class="square-72 d-block mr-8">
                                                <img src="image/l2/png/featured-job-logo-1.png" alt="">
                                            </div>
                                            <div>
                                                <h3 class="mb-0"><a class="font-size-6 heading-default-color" href="#">{{ topic.titre }}</a></h3>
                                                <a href="#" class="font-size-4 text-default-color line-height-2">{{ topic.contenu|raw }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right pt-7 pt-md-5">
                                        <div class="media justify-content-md-end">
                                            <div class="image mr-5 mt-2">
                                                <img src="image/svg/icon-fire-rounded.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-8">
                                    <div class="col-md-7">
                                        <ul class="d-flex list-unstyled mr-n3 flex-wrap">
                                            <li>
                                                <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2 btn-info" href="#">Commenter</a>
                                            </li>
                                            <li>
                                                <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2 " href="#">Wireframing</a>
                                            </li>
                                            <li>
                                                <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2" href="#">Prototyping</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-5">
                                        <ul class="d-flex list-unstyled mr-n3 flex-wrap mr-n8 justify-content-md-end">
                                            <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                                                <span class="mr-4" style="margin-top: -2px"><img src="image/svg/icon-loaction-pin-black.svg" alt=""></span>
                                                <span class="font-weight-semibold"><small>Posté le {{ topic.date|date('d/m/Y à H:m') }} </small></span>
                                            </li>
                                            <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                                                <span class="mr-4" style="margin-top: -2px"><img src="image/svg/icon-suitecase.svg" alt=""></span>
                                                <span class="font-weight-semibold">Par NomUtilisateur</span>
                                            </li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center m-6">
                                            <div class=""><a href="{{ path('updateTopic',{'id':topic.id}) }}" class="font-size-3 font-weight-bold text-green text-uppercase">Editer</a></div>
                                            <div class=""><a href="{{ path('deleteTopic',{'id':topic.id}) }}" class="font-size-3 font-weight-bold text-red text-uppercase">Supprimer</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-8">
                            </div>
                            <div class="mb-8">
                                {% for comment in comment %}
                                <div class="post-container">
                                    <div class="post-detail">
                                        <div class="line-divider"></div>
                                        <div class="post-comment">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="profile-photo-sm" width="50" height="50">
                                            <p><a href="timeline.html" class="profile-link">{{ comment.auteur }} </a><i class="em em-laughing"></i> {{ comment.contenu|raw}} </p>
                                        </div>

                                        <div class="post-comment">
                                            <div class=""><a href="{{ path('addcomment') }}" class="font-size-3 font-weight-bold text-blue text-uppercase">Commenter</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% endfor %}

                        <span></span>
                        <span></span>
                        <!-- End Single Featured Job -->
                    </div>

                    <div class="text-center pt-5 pt-lg-13">
                        <a class="text-green font-weight-bold text-uppercase font-size-3" href="#">
                            Load More <i class="fas fa-sort-down ml-3"></i>
                        </a>
                    </div>
                </div>
                <!-- form end -->

            </div>
        </div>
    </div>

    <!-- Main Content end -->
    <!-- footer area function start -->
    <!-- cta section -->
    <footer class="footer bg-ebony-clay dark-mode-texts">
        <div class="container">
            <!-- Cta section -->
            <div class="pt-11 pt-lg-20 pb-13 pb-lg-20 border-bottom border-width-1 border-default-color-2">
                <div class="row justify-content-center ">
                    <div class="col-xl-7 col-lg-12" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                        <!-- cta-content start -->
                        <div class="pb-xl-0 pb-9 text-xl-left text-center">
                            <h2 class="text-white font-size-8 mb-4">Most comprehensive job portal</h2>
                            <p class="text-hit-gray font-size-5 mb-0">We must explain to you how all this mistaken idea of denouncing</p>
                        </div>
                        <!-- cta-content end -->
                    </div>
                    <div class="col-xl-5 col-lg-12" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                        <!-- cta-btns start -->
                        <div class="btns d-flex justify-content-xl-end justify-content-center align-items-xl-center flex-wrap h-100  mx-n4">
                            <a class="btn btn-outline-gallery btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal" data-target="#login">Log in</a>
                            <a class="btn btn-green btn-h-60 btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal" data-target="#signup">Register</a>
                        </div>
                        <!-- cta-btns end -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container  pt-12 pt-lg-19 pb-10 pb-lg-19">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-lg-0 mb-9">
                    <!-- footer logo start -->
                    <img src="image/logo-main-white.png" alt="" class="footer-logo mb-14">
                    <!-- footer logo End -->
                    <!-- media start -->
                    <div class="media mb-11">
                        <img src="image/l1/png/message.png" class="align-self-center mr-3" alt="">
                        <div class="media-body pl-5">
                            <p class="mb-0 font-size-4 text-white">Contact us at</p>
                            <a class="mb-0 font-size-4 font-weight-bold" href="mailto:support@uxtheme.net">support@uxtheme.net</a>
                        </div>
                    </div>
                    <!-- media start -->
                    <!-- widget social icon start -->
                    <div class="social-icons">
                        <ul class="pl-0 list-unstyled d-flex align-items-end ">
                            <li class="d-flex flex-column justify-content-center px-3 mr-3 font-size-4 heading-default-color">Follow us on:</li>
                            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-facebook-f font-size-3 pt-2"></i></a></li>
                            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-twitter font-size-3 pt-2"></i></a></li>
                            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-linkedin-in font-size-3 pt-2"></i></a></li>
                        </ul>
                    </div>
                    <!-- widget social icon end -->
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget2 mb-md-0 mb-13">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Company</p>
                                <!-- footer widget title end -->
                                <!-- widget social menu start -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">About us</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Contact us</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Careers</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Press</a></li>
                                </ul>
                                <!-- widget social menu end -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget3 mb-sm-0 mb-13">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Product</p>
                                <!-- footer widget title end -->
                                <!-- widget social menu start -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Features </a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Pricing</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">News</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Help desk</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Support</a></li>
                                </ul>
                                <!-- widget social menu end -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget4 mb-sm-0 mb-13">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Services</p>
                                <!-- footer widget title end -->
                                <!-- widget social menu start -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Digital Marketing</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">SEO for Business</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Avasta Dash</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">UI Design</a></li>
                                </ul>
                                <!-- widget social menu end -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget4">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Legal</p>
                                <!-- footer widget title end -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Privacy Policy</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Terms & Conditions</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Return Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area function end -->

{% endblock %}
