{% extends "baseFront.html.twig" %}
{% block section %}
<div class="dashboard-main-container mt-25 mt-lg-31" id="dashboard-body">
    <div class="container">
        <div class="mb-14">
            <div class="row mb-11 align-items-center">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <h3 class="font-size-6 mb-0">Liste des concours disponibles</h3>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex flex-wrap align-items-center justify-content-lg-end">
                        <p class="font-size-4 mb-0 mr-6 py-2">Filter by Job:</p>
                        <div class="h-px-48">
                            <select name="country" id="country" class="nice-select pl-7 h-100 arrow-3 arrow-3-black min-width-px-273 font-weight-semibold text-black-2">
                                <option value="" data-display="Product Designer">Product Designer</option>
                                <option value="">Graphics Designer</option>
                                <option value="">Web Deverloper</option>
                                <option value="">Front End Developer</option>
                                <option value="">Backend Developer</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow-8 pt-7 rounded pb-8 px-11">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" class="pl-0  border-0 font-size-4 font-weight-normal">Nom Concours</th>
                            <th scope="col" class="border-0 font-size-4 font-weight-normal">Sujet</th>
                            <th scope="col" class="border-0 font-size-4 font-weight-normal">Date lancement</th>
                            <th scope="col" class="border-0 font-size-4 font-weight-normal">Date fin</th>
                            <th scope="col" class="border-0 font-size-4 font-weight-normal"></th>
                            <th scope="col" class="border-0 font-size-4 font-weight-normal"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="border border-color-2" {% for c in concour %}>
                            <th scope="row" class="pl-6 border-0 py-7 pr-0">
                                <h4 class="font-size-4 mb-0 font-weight-semibold text-black-2">{{ c.nom }}</h4>
                            </th>
                            <td class="table-y-middle py-7 min-width-px-400 pr-0">
                                <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{ c.sujet }}</h3>
                            </td>
                            <td class="table-y-middle py-7 min-width-px-170 pr-0">
                                <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{ c.dateDebut|date('d-m-Y H:i') }}</h3>
                            </td>
                            <td class="table-y-middle py-7 min-width-px-170 pr-0">
                                <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{ c.dateFin|date('d-m-Y H:i') }}</h3>
                            </td>
                            <td class="table-y-middle py-7 min-width-px-170 pr-0">
                                <div class=""><a href="descriptionConcours" class="font-size-3 font-weight-bold text-green text-uppercase">Voir description</a></div>
                            </td>
                            <td class="table-y-middle py-7 min-width-px-110 pr-0">
                                <div class=""> <a href="{{ path ('participation',{'id':c.id}) }}">participer</a></div>
                            </td>


                        </tr {% endfor %}>

                        </tbody>
                    </table>
                </div>

                {% endblock %}