{% extends "baseBack.html.twig" %}
{% block section %}
    <div class="dashboard-sidebar-wrapper pt-11" id="sidebar">
        <div class="brand-logo px-11">
            <a href="https://shade.uxtheme.net/shade-pro">
                <img src="image/logo-main-black.png" alt="">
            </a>
        </div>
        <div class="my-15 px-11">
            <a href="ajouterConcours" class="btn btn-primary btn-xl w-100 text-uppercase"><span class="mr-5 d-inline-block">+</span>Ajouter nouveau concours</a>
        </div>
        <div class="my-15 px-11">
            <a href="listPadmin" class="btn btn-primary btn-xl w-100 text-uppercase"><span class="mr-5 d-inline-block">+</span>ajouterPaticipant</a>
        </div>

        <ul class="list-unstyled dashboard-layout-sidebar">
            <li class="active"><a href="dashboard-main.html" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="icon icon-layout-11 mr-7"></i>Dashboard</a></li>
            <li class=""><a href="dashboard-posted-jobs.html" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="fas fa-briefcase mr-7"></i>Posted Jobs</a></li>
            <li class=""><a href="dashboard-posted-applicants.html" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="fas fa-user mr-7"></i>Applicants <span class="ml-auto px-1 h-1 bg-dodger text-white font-size-3 rounded-5 max-height-px-18 flex-all-center">14</span></a></li>
            <li class=""><a href="dashboard-settings.html" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="fas fa-cog mr-7"></i>Settings</a></li>
        </ul>
    </div>
    <a class="sidebar-mobile-button" data-toggle="collapse" href="#sidebar" role="button" aria-expanded="false" aria-controls="sidebar">
        <i class="icon icon-sidebar-2"></i>
    </a>
    <div class="dashboard-main-container mt-25 mt-lg-31" id="dashboard-body">
    <div class="container">
    <div class="row mb-7">
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-6">
            <!-- Single Category -->
            <a href="#" class="media bg-white rounded-4 pl-8 pt-9 pb-9 pr-7 hover-shadow-1 mb-9 shadow-8">
                <div class="text-blue bg-blue-opacity-1 circle-56 font-size-6 mr-7">
                    <i class="fas fa-briefcase"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                    <h5 class="font-size-8 font-weight-semibold text-black-2 line-height-reset font-weight-bold mb-1"><span class="counter">05</span></h5>
                    <p class="font-size-4 font-weight-normal text-gray mb-0">Posted Jobs</p>
                </div>
            </a>
            <!-- End Single Category -->
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-6">
            <!-- Single Category -->
            <a href="#" class="media bg-white rounded-4 pl-8 pt-9 pb-9 pr-7 hover-shadow-1 mb-9 shadow-8">
                <div class="text-pink bg-pink-opacity-1 circle-56 font-size-6 mr-7">
                    <i class="fas fa-user"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                    <h5 class="font-size-8 font-weight-semibold text-black-2 line-height-reset font-weight-bold mb-1"><span class="counter">256</span></h5>
                    <p class="font-size-4 font-weight-normal text-gray mb-0">Total Applicants</p>
                </div>
            </a>
            <!-- End Single Category -->
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-6">
            <!-- Single Category -->
            <a href="#" class="media bg-white rounded-4 pl-8 pt-9 pb-9 pr-7 hover-shadow-1 mb-9 shadow-8">
                <div class="text-orange bg-orange-opacity-1 circle-56 font-size-6 mr-7">
                    <i class="fas fa-eye"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                    <h5 class="font-size-8 font-weight-semibold text-black-2 line-height-reset font-weight-bold mb-1"><span class="counter">16.5</span>K</h5>
                    <p class="font-size-4 font-weight-normal text-gray mb-0">Jobs View</p>
                </div>
            </a>
            <!-- End Single Category -->
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-6">
            <!-- Single Category -->
            <a href="#" class="media bg-white rounded-4 pl-8 pt-9 pb-9 pr-7 hover-shadow-1 mb-9 shadow-8">
                <div class="text-egg-blue bg-egg-blue-opacity-1 circle-56 font-size-6 mr-7">
                    <i class="fas fa-mouse-pointer"></i>
                </div>
                <!-- Category Content -->
                <div class="">
                    <h5 class="font-size-8 font-weight-semibold text-black-2 line-height-reset font-weight-bold mb-1"><span class="counter">18.6</span>%</h5>
                    <p class="font-size-4 font-weight-normal text-gray mb-0">Applied Rate</p>
                </div>
            </a>
            <!-- End Single Category -->
        </div>
    </div>
    <div class="mb-14">
        <div class="row mb-11 align-items-center">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <h3 class="font-size-6 mb-0">Liste des concours</h3>
            </div>
            <div class="col-lg-6">
                <div class="d-flex flex-wrap align-items-center justify-content-lg-end">
                    <p class="font-size-4 mb-0 mr-6 py-2">Filter by Job:</p>
                    <div class="h-px-48">
                        <select name="country" id="country" class="nice-select pl-7 h-100 arrow-3 arrow-3-black min-width-px-273 font-weight-semibold text-black-2">
                            <option value="" data-display="Product Designer">Product Designer</option>
                            <option value="">Graphics Designer</option>
                            <option value="">Web Deverloper</option>
                            <option value="">Front End Developer</option>
                            <option value="">Backend Developer</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white shadow-8 pt-7 rounded pb-8 px-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="pl-0  border-0 font-size-4 font-weight-normal">Nom Concours</th>
                        <th scope="col" class="border-0 font-size-4 font-weight-normal">Sujet</th>
                        <th scope="col" class="border-0 font-size-4 font-weight-normal">Date lancement</th>
                        <th scope="col" class="border-0 font-size-4 font-weight-normal">Date fin</th>
                        <th scope="col" class="border-0 font-size-4 font-weight-normal"></th>
                        <th scope="col" class="border-0 font-size-4 font-weight-normal"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border border-color-2" {% for d in concour %}>
                        <th scope="row" class="pl-6 border-0 py-7 pr-0">
                            <h4 class="font-size-4 mb-0 font-weight-semibold text-black-2">{{ d.nom }}</h4>
                        </th>
                        <td class="table-y-middle py-7 min-width-px-400 pr-0">
                            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{ d.sujet }}</h3>
                        </td>
                        <td class="table-y-middle py-7 min-width-px-170 pr-0">
                            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{ d.dateDebut|date }}</h3>
                        </td>
                        <td class="table-y-middle py-7 min-width-px-170 pr-0">
                            <h3 class="font-size-4 font-weight-normal text-black-2 mb-0">{{ d.dateFin|date }}</h3>
                        </td>
                        <td class="table-y-middle py-7 min-width-px-100 pr-0">
                            <div class=""><a href="{{ path('modifierConcours',{'id':d.id}) }}" class="font-size-3 font-weight-bold text-green text-uppercase">Modifier</a></div>
                        </td>
                        <td class="table-y-middle py-7 min-width-px-110 pr-0">
                            <div class=""><a href="{{ path('supprimerConcours',{'id':d.id}) }}" class="font-size-3 font-weight-bold text-red text-uppercase">Supprimer</a></div>
                        </td>

                        <td class="table-y-middle py-7 min-width-px-110 pr-0">
                            <div class=""> <a href="{{ path ('listParticipants',{'id':d.id}) }}">Afficher</a></div>
                        </td>
                    </tr {% endfor %}>
                    </tbody>
                </table>

            </div>
            <div class="pt-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-hover-primary rounded-0 ml-n2">
                        <li class="page-item rounded-0 flex-all-center">
                            <a class="page-link rounded-0 border-0 px-3active" href="#" aria-label="Previous">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">1</a></li>
                        <li class="page-item"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">2</a></li>
                        <li class="page-item"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">3</a></li>
                        <li class="page-item disabled"><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">...</a></li>
                        <li class="page-item "><a class="page-link border-0 font-size-4 font-weight-semibold px-3" href="#">7</a></li>
                        <li class="page-item rounded-0 flex-all-center">
                            <a class="page-link rounded-0 border-0 px-3" href="#" aria-label="Next">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}