{% extends "baseFront.html.twig" %}
{% block section %}
    <div class="dashboard-main-container mt-24 mt-lg-31" id="dashboard-body">
        <div class="container">
            <div class="mb-15 mb-lg-23">
                <div class="row">
                    <div class="col-xxxl-9 px-lg-13 px-6">
                        <h5 class="font-size-6 font-weight-semibold mb-11">Modifier Concours </h5>
                        <div class="contact-form bg-white shadow-8 rounded-4 pl-sm-10 pl-4 pr-sm-11 pr-4 pt-15 pb-13">
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                            <fieldset>
                                <div class="row mb-xl-1 mb-9">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="namedash" class="d-block text-black-2 font-size-4 font-weight-semibold mb-4">Nom concours</label>
                                            {{ form_widget(form.nom) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-xl-1 mb-9">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="namedash" class="d-block text-black-2 font-size-4 font-weight-semibold mb-4">Sujet Concours</label>
                                            {{ form_widget(form.sujet) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-xl-1 mb-9">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="namedash" class="d-block text-black-2 font-size-4 font-weight-semibold mb-4">Description Concours</label>
                                            {{ form_widget(form.description) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-xl-1 mb-9">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="namedash" class="d-block text-black-2 font-size-4 font-weight-semibold mb-4">Date Lancement </label>
                                            {{ form_widget(form.dateDebut) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-xl-1 mb-9">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="namedash" class="d-block text-black-2 font-size-4 font-weight-semibold mb-4">Date fermeture</label>
                                            {{ form_widget(form.dateFin) }}
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}