{% extends 'base2.html.twig' %}

{% block content %}
    <script src="{{asset('assets/js/jquery/jquery-2.2.4.min.js')}}"></script>
    <div class="content">
        <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url({{asset('assets/img/bg-img/breadcumb4.jpg')}}">
            <div class="bradcumbContent">
                <h2>Participation</h2>
            </div>
        </div>
        <div class="upcoming-shows-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-12 col-lg-6 ">
                        <div class="contact-content mb-100">
                            <!-- Contact Form Area -->
                            <div class="contact-form-area">
                                {{ form_start(form) }}
                                <label ><h3 class=" font-weight-bold text-white">Title</h3></label>
                                <div class="form-group" >
                                    {{ form_widget(form.title,{'attr': {'class': 'form-control text-dark'} }) }}
                                </div>
                                <div class="form-group" >
                                    <label ><h3 class=" font-weight-bold text-white " >Participation Date</h3></label>
                                    {{ form_widget(form.publishDate,{'attr': {'class': 'form-control text-dark  '} }) }}
                                </div>
                                <div class="form-group">
                                    <label ><h3 class=" font-weight-bold text-white" >Url</h3></label>
                                    {{ form_widget(form.url,{'attr': {'class': 'form-control text-dark'} }) }}
                                </div>
                                <iframe width="540" height="315"  allowfullscreen frameborder="0"
                                        src="{{video.url}}">
                                </iframe>
                                <button class="btn musica-btn mt-30 col" type="submit">Publish Your Video</button>
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <script>

        function getId(url) {
            const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
            const match = url.match(regExp);

            return (match && match[2].length === 11)
                ? match[2]
                : null;
        }

        $( "" +
            "" +
            "" )
            .focusout(function() {

                let str ='//www.youtube.com/embed/'
                    + getId($("#src_video_url").val());

                let $iframe = $('iframe');
                if ( $iframe.length ) {
                    $iframe.attr('src',str);
                    return false;
                }
                return true;

            })


    </script>

{% endblock %}

