<div class="col-lg-7 col-md-6">
    <div class="bg-white-2 h-100 px-11 pt-11 pb-7">

        {{ form_start(form, {'action': path('adduser'), 'method': 'POST'}) }}

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Nom</label>
                {{ form_widget(form.Nom, { 'attr' : { 'class' : 'form-control' } }) }}
            </div>
            <div class="form-group col-md-6">
                <label for="email2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Prenom</label>
                {{ form_widget(form.Prenom, { 'attr' : { 'class' : 'form-control' } }) }}
            </div>
        </div>

        <div class="form-group">
            <label for="email2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">E-mail</label>
            {{ form_widget(form.Email, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            <label for="password2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Password</label>
            <div class="position-relative">
                {{ form_widget(form.Password, { 'attr' : { 'class' : 'form-control' } }) }}
                <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password2"></a>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Tel</label>
                {{ form_widget(form.Tel, { 'attr' : { 'class' : 'form-control' } }) }}
            </div>
            <div class="form-group col-md-6">
                <label for="password23" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Pays</label>
                {{ form_widget(form.Pays, { 'attr' : { 'class' : 'form-control' } }) }}
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password23" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Role</label>
                {{ form_widget(form.Role, { 'attr' : { 'class' : 'form-control' } }) }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password23" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Photo</label>
                {{ form_widget(form.Photo, { 'attr' : { 'class' : 'form-control' } }) }}
            </div>
            <div class="form-group col-md-6">
                <label for="password23" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Bibliography</label>
                {{ form_widget(form.Bibliography, { 'attr' : { 'class' : 'form-control' } }) }}
            </div>
        </div>


        <div class="form-group mb-8">
            {{ form_widget(form.Submit, { 'attr' : { 'class' : 'btn btn-primary'}})}}
        </div>
        <p class="font-size-4 text-center heading-default-color">Do you have an account? <a href="#" class="text-primary">Log in</a></p>

    </div>

    {{ form_end(form) }}

</div>


