<!DOCTYPE html >
<html lang="en"  itemscope itemtype="http://schema.org/Article">
    <head>

        <meta charset="UTF-8" >
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="{{ asset('assets2/js/jquery/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ asset('bundles/foscomment/js/comments.js') }}"></script>

        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title -->
        <title>{% block title %}Tunisia's Got Talent{% endblock %}</title>



        <!-- Core Stylesheet -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('assets2/style.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/foscomment/css/comments.css')}}">

            <link rel="stylesheet" href="{{asset('assets2/beat.css')}}">

            <link rel="icon" type="image/png" href="{{asset('assets2/img/icon.png')}}">
            <link href="{{ asset('assets2/css/pp.css') }}" type="text/css" rel="stylesheet" />



        <script>
            function myFunction() {
                // Declare variables
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>

       {% endblock %}
        <link rel="icon" type="image/png" href="{{asset('assets2/img/icon.png')}}">

    </head>
    <body>
        {% block header %}
            <!-- ##### Preloader ##### -->
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="circle-preloader">
                    <img src="{{asset('assets2/img/core-img/compact-disc.png')}}" alt="">
                </div>
            </div>

            <!-- ##### Header Area Start ##### -->
            <header class="header-area">
                <!-- Navbar Area -->
                <div class="musica-main-menu">
                    <div class="classy-nav-container breakpoint-off">
                        <div class="container-fluid">
                            <!-- Menu -->
                            <nav class="classy-navbar justify-content-between" id="musicaNav">

                                <!-- Nav brand -->
                                <a href="{{ path('list') }}" class="nav-brand"><img src="{{asset('assets2/img/core-img/logo.png')}}" alt=""></a>

                                <!-- Navbar Toggler -->
                                <div class="classy-navbar-toggler">
                                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                                </div>

                                <!-- Menu -->
                                <div class="classy-menu">

                                    <!-- close btn -->
                                    <div class="classycloseIcon">
                                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                    </div>

                                    <!-- Nav Start -->
                                    <div class="classynav">

                                        <ul>
                                            <li><a href="{{ path('list') }}" class="">list
                                                    <div class="equalizer">
                                                        <span class="bar bar-1"></span>
                                                        <span class="bar bar-2"></span>
                                                        <span class="bar bar-3"></span>
                                                        <span class="bar bar-4"></span>
                                                        <span class="bar bar-5"></span>
                                                        <span class="bar bar-6"></span>
                                                        <span class="bar bar-7"></span>
                                                        <span class="bar bar-8"></span>
                                                        <span class="bar bar-9"></span>
                                                        <span class="bar bar-10"></span>
                                                    </div></a></li>
                                            {% if  app.user %}

                                                <li><a href="{{ path('list',{'id':app.user.id}) }}" class="show">Profile
                                                        <div class="equalizer">
                                                            <span class="bar bar-1"></span>
                                                            <span class="bar bar-2"></span>
                                                            <span class="bar bar-3"></span>
                                                            <span class="bar bar-4"></span>
                                                            <span class="bar bar-5"></span>
                                                            <span class="bar bar-6"></span>
                                                            <span class="bar bar-7"></span>
                                                            <span class="bar bar-8"></span>
                                                            <span class="bar bar-9"></span>
                                                            <span class="bar bar-10"></span>
                                                        </div></a></li>
                                                <li><a href="{{ path('list') }}" class="show">Competitions


                                                        <div class="equalizer">
                                                            <span class="bar bar-1"></span>
                                                            <span class="bar bar-2"></span>
                                                            <span class="bar bar-3"></span>
                                                            <span class="bar bar-4"></span>
                                                            <span class="bar bar-5"></span>
                                                            <span class="bar bar-6"></span>
                                                            <span class="bar bar-7"></span>
                                                            <span class="bar bar-8"></span>
                                                            <span class="bar bar-9"></span>
                                                            <span class="bar bar-10"></span>
                                                        </div></a></li>
                                                <li><a href="{{ path('list') }}" class="show">Shop
                                                        <div class="equalizer">
                                                            <span class="bar bar-1"></span>
                                                            <span class="bar bar-2"></span>
                                                            <span class="bar bar-3"></span>
                                                            <span class="bar bar-4"></span>
                                                            <span class="bar bar-5"></span>
                                                            <span class="bar bar-6"></span>
                                                            <span class="bar bar-7"></span>
                                                            <span class="bar bar-8"></span>
                                                            <span class="bar bar-9"></span>
                                                            <span class="bar bar-10"></span>
                                                        </div></a></li>
                                            {% endif %}
                                            <li><a href="{{ path('list') }}" class="show">Events
                                                    <div class="equalizer">
                                                        <span class="bar bar-1"></span>
                                                        <span class="bar bar-2"></span>
                                                        <span class="bar bar-3"></span>
                                                        <span class="bar bar-4"></span>
                                                        <span class="bar bar-5"></span>
                                                        <span class="bar bar-6"></span>
                                                        <span class="bar bar-7"></span>
                                                        <span class="bar bar-8"></span>
                                                        <span class="bar bar-9"></span>
                                                        <span class="bar bar-10"></span>
                                                    </div></a></li>
                                            <li><a href="{{ path('list') }}" class="">News
                                                    <div class="equalizer">
                                                        <span class="bar bar-1"></span>
                                                        <span class="bar bar-2"></span>
                                                        <span class="bar bar-3"></span>
                                                        <span class="bar bar-4"></span>
                                                        <span class="bar bar-5"></span>
                                                        <span class="bar bar-6"></span>
                                                        <span class="bar bar-7"></span>
                                                        <span class="bar bar-8"></span>
                                                        <span class="bar bar-9"></span>
                                                        <span class="bar bar-10"></span>
                                                    </div></a>

                                            </li>
                                            <li><a href="{{ path('list') }}" class="show">Blog
                                                    <div class="equalizer">
                                                        <span class="bar bar-1"></span>
                                                        <span class="bar bar-2"></span>
                                                        <span class="bar bar-3"></span>
                                                        <span class="bar bar-4"></span>
                                                        <span class="bar bar-5"></span>
                                                        <span class="bar bar-6"></span>
                                                        <span class="bar bar-7"></span>
                                                        <span class="bar bar-8"></span>
                                                        <span class="bar bar-9"></span>
                                                        <span class="bar bar-10"></span>
                                                    </div></a>

                                            </li>
                                            <li><a href="{{path('list')}}" class="show">Rate Us
                                                    <div class="equalizer">
                                                        <span class="bar bar-1"></span>
                                                        <span class="bar bar-2"></span>
                                                        <span class="bar bar-3"></span>
                                                        <span class="bar bar-4"></span>
                                                        <span class="bar bar-5"></span>
                                                        <span class="bar bar-6"></span>
                                                        <span class="bar bar-7"></span>
                                                        <span class="bar bar-8"></span>
                                                        <span class="bar bar-9"></span>
                                                        <span class="bar bar-10"></span>
                                                    </div></a></li>
                                            <li><a href="{{ path('list') }}" class="show">Contact us
                                                    <div class="equalizer">
                                                        <span class="bar bar-1"></span>
                                                        <span class="bar bar-2"></span>
                                                        <span class="bar bar-3"></span>
                                                        <span class="bar bar-4"></span>
                                                        <span class="bar bar-5"></span>
                                                        <span class="bar bar-6"></span>
                                                        <span class="bar bar-7"></span>
                                                        <span class="bar bar-8"></span>
                                                        <span class="bar bar-9"></span>
                                                        <span class="bar bar-10"></span>
                                                    </div></a></li>
                                        </ul>

                                        <!-- Social Button -->
                                        <div class="top-social-info">
                                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                                        </div>
{#                                        {% if not app.user %}#}
{#                                        <a  href="{{ path('fos_user_security_login') }}"  class="btn musica-btn btn-3 m-2 log"   >Log in!</a>#}
{#                                        <a href="{{ path('fos_user_registration_register') }}"  class="btn musica-btn m-2 log">Register now!</a>#}
{#                                        {% else %}#}
{#                                        {% if  app.user.roles[0] is same as ('ROLE_ADMIN') %}#}
{#                                            <a  href="{{ path('adminHome') }}"  class="btn musica-btn btn-3 m-2"   >Dashboard</a>#}
{#                                            {% endif %}#}
{#                                            <a  href="{{ path('fos_user_security_logout') }}"  class="btn musica-btn btn-3 m-2"   >Log Out!</a>#}
{#                                        {% endif %}#}
                                    </div>

                                    <!-- Nav End -->
                                </div>

                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- ##### Header Area End ##### -->



        {% endblock %}
        <section >
{% block content %}

    <!-- ##### content Area  ##### -->
{% endblock %}
        </section>
        {% block footer %}
            <!-- ##### Footer Area Start ##### -->
            <footer class="footer-area section-padding-100-0">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Footer Widget Area -->
                        <div class="col-12 col-md-6 col-xl-3">
                            <div class="footer-widget-area mb-100">
                                <a href="#"><img src="{{asset('assets2/img/core-img/logo.png')}}" alt=""></a>

                            </div>
                        </div>
                        <!-- Footer Widget Area -->
                        <div class="col-12 col-sm-4 col-xl-2">
                            <div class="footer-widget-area mb-100">
                                <div class="widget-title">
                                    <h4>About</h4>
                                </div>
                                <nav>
                                    <ul class="footer-nav">
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">The team</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>



                        <!-- Footer Widget Area -->
                        <div class="col-12 col-sm-4 col-xl-2">
                            <div class="footer-widget-area mb-100">
                                <div class="widget-title">
                                    <h4>Social</h4>
                                </div>
                                <nav>
                                    <ul class="footer-nav">
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Instagram</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Footer Widget Area -->
                        <div class="col-12 col-md-6 col-xl-3">
                            <div class="footer-widget-area mb-100">
                                <div class="widget-title">
                                    <h4 >
                                        &copy;2020 , made  by
                                            <a href="" target="_blank">KingPins</a>
                                        </h4>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </footer>

            <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog form-dark" role="document">
                    <div class="modal-content card card-image" style="background-color: rgba(0,0,0,0.3); margin-top:10vh">

                    </div>


                </div>
            </div>

            <!-- ##### Footer Area Start ##### -->

            <!-- ##### All Javascript Script ##### -->
            <!-- jQuery-2.2.4 js -->
            <script src="{{asset('assets2/js/jquery/jquery-2.2.4.min.js')}}"></script>
            <!-- Popper js -->
            <script src="{{asset('assets2/js/bootstrap/popper.min.js')}}"></script>
            <!-- Bootstrap js -->
            <script src="{{asset('assets2/js/bootstrap/bootstrap.min.js')}}"></script>
            <!-- All Plugins js -->
            <script src="{{asset('assets2/js/plugins/plugins.js')}}"></script>
            <!-- Active js -->
            <script src="{{asset('assets2/js/active.js')}}"></script>












            <script>
                $('.log').on('click', function(e){
                    e.preventDefault();
                    $('#darkModalForm').modal('show').find('.modal-content').load($(this).attr('href'));
                });

                $('.show').on('click', function (e) {
                    let     x=  {{ app.user|json_encode() }};
                    if ( x == null) {
                        e.preventDefault();
                        $('#darkModalForm').modal('show').find('.modal-content').load($(this).attr('href'));
                    }


                });</script>

        {% endblock %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
