{% extends "baseFront.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

{% endblock %}

{% block section %}
    <!-- Main Content Start -->
    <div class="bg-default-1 pt-26 pt-lg-16 pb-13 pb-lg-25">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xxl-3 col-lg-4 col-md-5 mb-11 mb-lg-0">
                    <!-- Sidebar Start -->
                    <div class="bg-white shadow-9 rounded-4">
                        <h4 class="font-size-6 font-weight-semibold mb-6">Catégorie</h4>
                        <ul class="list-unstyled filter-check-list">
                            <li class="mb-2"><a href="#" class="toggle-item">Java</a></li>
                            <li class="mb-2"><a href="#" class="toggle-item">PHP</a></li>
                            <li class="mb-2"><a href="#" class="toggle-item">CodeNameOne</a></li>
                            <li class="mb-2"><a href="#" class="toggle-item">Laravel</a></li>
                            <li class="mb-2"><a href="#" class="toggle-item">Angular</a></li>
                            <li class="mb-2"><a href="#" class="toggle-item">Symfony</a> </li>
                        </ul>
                    </div>
                    <div class="widgets mb-11 ">
                        <div class="d-flex align-items-center pr-15 pr-xs-0 pr-md-0 pr-xl-22">

                        </div>

                        <div class="range-slider">

                        </div>
                    </div>
                    <div class="widgets mb-11">

                    </div>
                    <div class="widgets mb-11">

                    </div>

                        <!-- Sidebar End -->
                </div>
                <!-- Main Body -->
                <div class="col-12 col-xl-8 col-lg-8">
                    <!-- form -->
                    <form action="{{ path('search') }}" class="search-form">
                        <div class="filter-search-form-2 search-1-adjustment bg-white rounded-sm shadow-7 pr-6 py-6 pl-6">
                            <div class="filter-inputs">
                                <div class="form-group position-relative w-lg-45 w-xl-40 w-xxl-45">
                                    <input class="form-control focus-reset pl-13" onkeyup="myFunction()" type="text" id="keyword" placeholder="search">
                                    <span class="h-100 w-px-50 pos-abs-tl d-flex align-items-center justify-content-center font-size-6">
                    <i class="icon icon-zoom-2 text-primary font-weight-bold"></i>
                  </span>
                                </div>
                            </div>
                            <div class="button-block">
                                <a href="{{ path('search') }}">
                                <button class="btn btn-primary line-height-reset h-100 btn-submit w-100 text-uppercase" id="search">Search</button>
                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="pt-12">
                        <div class="d-flex align-items-center justify-content-between mb-6">
                            <h5 class="font-size-5 font-weight-normal text-gray">
                                <small class="heading-default-color" style="color: black; margin-left: 25px; margin-top: 8px">Trouvez la meilleure réponse à votre question technique</small>
                            </h5>
                            <div class="button-block">
                                <div class=""><a href="{{ path('addTopic') }}" class="btn btn-primary line-height-reset h-100 btn-submit w-100 text-uppercase">Créer un Topic</a></div>
                            </div>

                            <div class="d-flex align-items-center result-view-type">
                                <a class="heading-default-color pl-5 font-size-6 hover-text-hitgray active" href="search-list-1.html">
                                    <i class="fa fa-list-ul"></i>
                                </a>
                                <a class="heading-default-color pl-5 font-size-6 hover-text-hitgray" href="search-grid.html">
                                    <i class="fa fa-th-large"></i>
                                </a>
                            </div>
                        </div>
                        <div id="aller"  class="mb-8">
                            <!-- Single Featured Job -->
                            {% for topic in topics %}
                            <div class="pt-9 px-xl-9 px-lg-7 px-7 pb-7 light-mode-texts bg-white rounded hover-shadow-3 ">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="media align-items-center">
                                            <div class="square-72 d-block mr-8">
                                                <div class="text-green bg-green-opacity-1 square-70 rounded-4 mb-7 font-size-7">
{#                                                    <i class="fa fa-user"></i>#}
                                                    <img src="image/career.png" height="40" width="40">
                                                </div>
                                            </div>
                                            <div>
                                                <h3 class="mb-0"><a class="font-size-6 heading-default-color" href="#">{{ topic.titre }}</a></h3>
                                                <a href="#" class="font-size-4 text-default-color line-height-2">{{ topic.contenu|raw }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right pt-7 pt-md-5">
                                        <div class="media justify-content-md-end">
                                            <div class="image mr-5 mt-2">
                                                <img src="image/bavarder.png" alt="" width="25px" height="25px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-8">
                                    <div class="col-md-7">
                                        <ul class="d-flex list-unstyled mr-n3 flex-wrap">
                                            <li>
                                                <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2 btn-info" href="{{ path('details',{'id':topic.id}) }}">Commenter <i class="far fa-comment-dots"></i> </a>
                                            </li>
                                            <li>
                                                <a class="bg-regent-opacity-15 min-width-px-96 mr-3 text-center rounded-3 px-6 py-1 font-size-3 text-black-2 mt-2 btn-info" href="{{ path('showcomment') }}">afficher les commentaires <i class="far fa-comments"></i> </a>
                                            </li>
                                        </ul>
                                        <div class="card-btn-group">
{#                                {% if is_granted("ROLE_USER") %}#}
                                            {% set isFavorite = false %}
                                                {% for favoris in topic.favoris %}
                                                    {% if favoris.id == topic.user.id %}
                                            {% set isFavorite = true %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% if isFavorite %}
                                            <a class="btn btn-outline-mercury text-black-2 mt-2 btn-small rounded-1" href="{{ path('removefavoris', {'id': topic.id}) }}">
                                                <i class="fas fa-heart"></i>
                                                <span> Favoris </span>
                                            </a>
                                            {% else %}
                                            <a class="btn btn-outline-mercury text-black-2 mt-2 btn-small rounded-1" href="{{ path('favoris', {'id': topic.id}) }}">
                                                <i class="far fa-heart"> </i>
                                                <span></span>  Favoris
                                            </a>
                                            {% endif %}

                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <ul class="d-flex list-unstyled mr-n3 flex-wrap mr-n8 justify-content-md-end">
                                            <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                                                <span class="mr-4" style="margin-top: -2px"><img src="image/svg/icon-clock.svg" alt=""></span>
                                                <span class="font-weight-semibold"><small>Posté le {{ topic.date|date('d/m/Y à H:m') }} </small></span>
                                            </li>
                                            <li class="mt-2 mr-8 font-size-small text-black-2 d-flex">
                                                <span class="mr-4" style="margin-top: -2px"><img src="image/svg/user.svg" alt=""></span>
                                                <span class="font-weight-semibold">Par {{ topic.user.Prenom ~" " ~topic.user.Nom}}</span>
                                            </li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center m-6">
                                            <div class=""><a href="{{ path('updateTopic',{'id':topic.id}) }}" class="font-size-3 font-weight-bold text-green text-uppercase">Editer</a></div>
                                            <div class="" onclick="var result = confirm('voulez vous supprimer ce topic');"> <a href="{{ path('deleteTopic',{'id':topic.id}) }}" class="font-size-3 font-weight-bold text-red text-uppercase">Supprimer</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-8">
                            </div>
                            <div class="mb-8">

                            </div>
                            {% endfor %}
                        </div>




                        <span></span>
                        <span></span>
                        <!-- End Single Featured Job -->
                    </div>

                    <div class="text-center pt-5 pt-lg-13">

                       <a class="text-green font-weight-bold text-uppercase font-size-3" href={{ knp_pagination_render(topics) }}></a>
                    </div>
                </div>
                <!-- form end -->

            </div>
        </div>
    </div>



    <!-- Main Content end -->
    <!-- footer area function start -->
    <!-- cta section -->
    <footer class="footer bg-ebony-clay dark-mode-texts">
        <div class="container">
            <!-- Cta section -->
            <div class="pt-11 pt-lg-20 pb-13 pb-lg-20 border-bottom border-width-1 border-default-color-2">
                <div class="row justify-content-center ">
                    <div class="col-xl-7 col-lg-12" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                        <!-- cta-content start -->
                        <div class="pb-xl-0 pb-9 text-xl-left text-center">
                            <h2 class="text-white font-size-8 mb-4">Most comprehensive job portal</h2>
                            <p class="text-hit-gray font-size-5 mb-0">We must explain to you how all this mistaken idea of denouncing</p>
                        </div>
                        <!-- cta-content end -->
                    </div>
                    <div class="col-xl-5 col-lg-12" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                        <!-- cta-btns start -->
                        <div class="btns d-flex justify-content-xl-end justify-content-center align-items-xl-center flex-wrap h-100  mx-n4">
                            <a class="btn btn-outline-gallery btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal" data-target="#login">Log in</a>
                            <a class="btn btn-green btn-h-60 btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal" data-target="#signup">Register</a>
                        </div>
                        <!-- cta-btns end -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container  pt-12 pt-lg-19 pb-10 pb-lg-19">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-lg-0 mb-9">
                    <!-- footer logo start -->
                    <img src="image/logo-main-white.png" alt="" class="footer-logo mb-14">
                    <!-- footer logo End -->
                    <!-- media start -->
                    <div class="media mb-11">
                        <img src="image/l1/png/message.png" class="align-self-center mr-3" alt="">
                        <div class="media-body pl-5">
                            <p class="mb-0 font-size-4 text-white">Contact us at</p>
                            <a class="mb-0 font-size-4 font-weight-bold" href="mailto:support@uxtheme.net">support@uxtheme.net</a>
                        </div>
                    </div>
                    <!-- media start -->
                    <!-- widget social icon start -->
                    <div class="social-icons">
                        <ul class="pl-0 list-unstyled d-flex align-items-end ">
                            <li class="d-flex flex-column justify-content-center px-3 mr-3 font-size-4 heading-default-color">Follow us on:</li>
                            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-facebook-f font-size-3 pt-2"></i></a></li>
                            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-twitter font-size-3 pt-2"></i></a></li>
                            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-linkedin-in font-size-3 pt-2"></i></a></li>
                        </ul>
                    </div>
                    <!-- widget social icon end -->
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget2 mb-md-0 mb-13">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Company</p>
                                <!-- footer widget title end -->
                                <!-- widget social menu start -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">About us</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Contact us</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Careers</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Press</a></li>
                                </ul>
                                <!-- widget social menu end -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget3 mb-sm-0 mb-13">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Product</p>
                                <!-- footer widget title end -->
                                <!-- widget social menu start -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Features </a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Pricing</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">News</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Help desk</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Support</a></li>
                                </ul>
                                <!-- widget social menu end -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget4 mb-sm-0 mb-13">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Services</p>
                                <!-- footer widget title end -->
                                <!-- widget social menu start -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Digital Marketing</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">SEO for Business</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Avasta Dash</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">UI Design</a></li>
                                </ul>
                                <!-- widget social menu end -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget4">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Legal</p>
                                <!-- footer widget title end -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Privacy Policy</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Terms & Conditions</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Return Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area function end -->

    <script>
        function myFunction() {
            var p = document.getElementById("keyword").value;
            console.log(p);

            $.ajax({
                /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                url : "{{ path('search') }}",
                /* La méthode utilisée pour transférer les données est GET */
                type : 'GET',
                /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                data: {
                    'searchValue' : p
                },
                /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                success : function(data){
                    $('#aller').html(data);
                },
            });
        }

    </script>

    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    {#$(document).ready(function() {#}
    {#    $("#search").keyup(function(e){#}
    {#        var value = $(this).val();#}
    {#        console.log(value);#}

    {#        $.ajax({#}
    {#            /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */#}
    {#            url : "{{ path('search') }}",#}
    {#            /* La méthode utilisée pour transférer les données est GET */#}
    {#            type : 'GET',#}
    {#            /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */#}
    {#            data: {#}
    {#                'searchValue' : value#}
    {#            },#}
    {#            /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/#}
    {#            success : function(retour){#}
    {#                if(retour){#}
    {#                    $('#search').empty();#}
    {#                    $.each(JSON.parse(retour), function(i, topic) {#}
    {#                        $('#all').hide();#}
    {#                        $('#search').append('<div> '+topic.id+'  </div><div>   '+topic.titre+' + '+topic.contenu+' </div><div><a href="{{ path('updateTopic',{'id': 'x'}) }}'+topic.id+'">editer</a> <div> <a href="{{ path('deleteTopic', {'id': 'x'}) }}/'+topic.id+'">supprimer</a></div>');#}
    {#                    });#}
    {#                }#}
    {#                else#}
    {#                {#}
    {#                    $('#all').show();#}
    {#                    $('#search').empty();#}
    {#                    $('#search').fadeIn('fast');#}
    {#                }#}
    {#            },#}
    {#        });#}
    {#        return false;#}
    {#    });#}
    {#});#}

{% endblock %}





