{% extends 'baseBack.html.twig' %}

{% block title %}Admin{% endblock %}

{% block section %}
    <div style="max-width: 120%;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);border-radius: 10px;position: relative;top: 25px;"
         class="container">

    <div class="card">
        <h5 class="card-header">Liste des Questions
            <a style="max-width: 20%" href="{{path ('addQuestion',{'id':app.request.get('id')})}}" class="btn btn-space btn-primary float-right">Ajouter Question</a>

        </h5>

        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                    <tr class="border-0">
                        <th class="border-0">#</th>
                        <th class="border-0">Question</th>
                        <th class="border-0">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for q in questions %}
                        <tr>
                            <td >{{ q.id}}</td>

                            <td class="col-3">{{ q.questions }}</td>
                            <td class="col-3 text-right"><a href="{{path ('modifierQuestion',{'idQuiz':app.request.get('id') ,'idQuestion':q.id})}}" class="btn btn-primary ">Modifier</a>
<a class="btn btn-danger" href="{{path ('supprimerQuestion',{'idQuiz':app.request.get('id') ,'idQuestion':q.id})}}">Suprimer</a>
                                <a href="{{path ('listReponses',{'id':q.id })}}" class="btn btn-primary ">Voir les Réponses</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>

{% endblock %}